@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Tilt+Neon&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair', serif;
    background-color: #f2f2f2;
}

#corpo{
    position: relative;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    width: 50rem;
    height: 26rem;
}

#corpo #socialmedia{
    position: absolute;
    right: 0;
    background-color: #f3d53d;
    height: 26rem;
    width: 10rem;

    
}

#corpo #socialmedia #info{
    position: absolute;
    right: 0;
    background-color: #1d1d1f;
    color: #cdcccf;
    width: 300px;
    top: 5rem;
    width: 20rem;
    height: 17rem;
    padding: 2rem;

}

nav{
    position: absolute;
    left: 0;
    background-color: white;
    height: 26rem;
    width: 4.5rem;
    display: block;
}

#corpo #formulario{
    position: absolute;
    right: 20rem;
    left: 4.5rem;
    height: 26rem;
    background-color: white;
    padding: 1rem;
}

#corpo #socialmedia #info li{
    list-style: none;
}

i{
    padding: .5rem 1rem .5rem 0 ;
}

h2{
    letter-spacing: .2rem;
}

p{
    margin: .5rem;
}

fieldset{
    border-style: none;
    margin: .5rem .5rem .5rem 0;
    
}

input{
    border-style: none;

}

.underline::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 60%;
    bottom: -5px;
    left: 0;
    background-color: rgb(0, 0, 0);
}

.underline::after{

}

input:focus, input:focus-visible{
    border-style: none;
    outline: none;
}

.input{
    position: relative;
}

button{
    width: 220px;
    margin-top: 1rem;
    background-color: #1d1d1f;
    color: #cdcccf;
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 1s;
}
button:hover{
    background-color: #1d1d1fbb;
}

legend{
    margin-bottom: .2rem;
    margin-top:  .2rem
}

nav img{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 25%;
}

#library{
    background-color: #f3d53d;
    width: 4.8rem;
    height: 4rem;
    position: absolute;
    top: 40%;
    z-index: 1;
}