body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

#todo{
    background-color: rgb(203, 226, 203);
    width: 80%;
    margin: auto;
    
}
footer{
}
#topo h1, footer{
    padding: 1rem;
    background-color: rgba(27, 71, 1, 0.808);
}

.questao h2{
    border-bottom: 5px solid rgba(27, 71, 1, 0.808);
    border-left: 5px solid rgba(104, 224, 67, 0.808) ;
    padding-left: 5px;
    padding-bottom: 5px;
}

.enunciado, #cafe{
    margin-left: 2rem;
    margin-right: 2rem;
}


#ex #circulo, #cone{
    margin-right: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgb(165,134,238);
  background: radial-gradient(circle, rgb(172, 138, 252) 5%, rgba(236,107,221,1) 25%, rgb(237, 149, 245) 50%, rgb(208, 133, 252) 75%, rgb(55, 17, 126) 75%);
}

#ex #cone{
    background: conic-gradient(#dd9bdd, #88c3ff 25%, #afa9f7 50%, #99f5ea 75%, #dd9bdd 100%);
}

#todo #iris{
    margin-right: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(1deg, red 1%, orange, yellow, green 50%, #27a2d6, #2c2f8b, #612b8a 100%);
}

#cafe h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    
}

#cafe h1{
    color: brown;
}

#cafe h2{
    color: darkgreen;
}

#ex{
    display: flex;
    padding: 1rem;
}

#cafenovo{
    background: linear-gradient(to left, green, brown 50%);
}

#cafenovo, #link{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
    
}

#cafenovo h1{
    color: white;
}
#cafenovo h2{
    color: rgb(0, 0, 0);
}

#cafenovo p, h1, h2{
    padding-left: 5px;
    
}

.enunciado{
    background-color: #72d88c77;
}

.enunciado p, ul, ol{
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

